<section class="about" id="about">
  <div class="container">
    <ul class="cards-list">
      <li class="card" data-direction="left">
        <div class="description-box">
          <h2 class="card-title">Аеропортний трансфер</h2>
          <div class="section-line"></div>
          <ul class="card-description-list">
            <li class="description-item">
              <p class="description-text">
                ✈️ Преміальний сервіс для комфортної подорожі.
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Забудьте про стрес і поспіх – наші водії зустрінуть вас в
                аеропорту з іменною табличкою, допоможуть з багажем і подбають
                про безпечну та комфортну поїздку до місця призначення.
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Наші автомобілі завжди чисті, обладнані Wi-Fi та напоями, а
                професійний підхід до обслуговування гарантує приємний досвід.
              </p>
            </li>
          </ul>
          <button
            class="button card-button btn-more"
            type="button"
            data-service="airport"
          >
            Більше
          </button>
        </div>
        <img
          class="description-img"
          src="./img/about-img/airport.jpg"
          srcset="./img/about-img/airport.jpg, ./img/about-img/airport@2x.jpg"
          alt="Аеропортний трансфер"
          width="244px"
          height="344px"
        />
      </li>
      <li class="card" data-direction="right">
        <div class="description-box">
          <h2 class="card-title">Корпоративний трансфер</h2>
          <div class="section-line"></div>

          <ul class="card-description-list">
            <li class="description-item">
              <p class="description-text">
                🏢 Розкіш та надійність для ділових поїздок
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Ми знаємо, наскільки важливий комфорт і пунктуальність у
                бізнесі. Наші корпоративні трансфери забезпечують бездоганне
                пересування між зустрічами, конференціями та аеропортами.
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Професійні водії, сучасні автомобілі та гнучкі умови співпраці
                дозволять вам сфокусуватися на важливих справах, не турбуючись
                про логістику.
              </p>
            </li>
          </ul>
          <button
            class="button card-button btn-more"
            type="button"
            data-service="corporate"
          >
            Більше
          </button>
        </div>
        <img
          class="description-img"
          src="./img/about-img/corporate.jpg"
          srcset="
            ./img/about-img/corporate.jpg,
            ./img/about-img/corporate@2x.jpg
          "
          alt="Аеропортний трансфер"
          width="244px"
          height="344px"
        />
      </li>
      <li class="card" data-direction="left">
        <div class="description-box">
          <h2 class="card-title">Персональний водій</h2>
          <div class="section-line"></div>

          <ul class="card-description-list">
            <li class="description-item">
              <p class="description-text">
                🚘 Ваш комфортний супутник у будь-якій подорожі
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Оренда авто з персональним водієм – це свобода пересування та
                абсолютний комфорт. Ми підлаштуємося під ваш графік, допоможемо
                з вибором оптимального маршруту та гарантуємо першокласний
                сервіс.
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Чи то шопінг-тур, зустріч із друзями або цілий день справ – ми
                подбаємо про вашу зручність і безпеку.
              </p>
            </li>
          </ul>
          <button
            class="button card-button btn-more"
            type="button"
            data-service="personal"
          >
            Більше
          </button>
        </div>
        <img
          class="description-img"
          src="./img/about-img/personal.jpg"
          srcset="./img/about-img/personal.jpg, ./img/about-img/personal@2x.jpg"
          alt="Аеропортний трансфер"
          width="244px"
          height="344px"
        />
      </li>
      <li class="card" data-direction="right">
        <div class="description-box">
          <h2 class="card-title">VIP та люкс-послуги</h2>
          <div class="section-line"></div>

          <ul class="card-description-list">
            <li class="description-item">
              <p class="description-text">
                ✨ Рівень обслуговування, якого ви заслуговуєте
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Для найвибагливіших клієнтів ми пропонуємо найкращі автомобілі
                бізнес- і преміум-класу, та повну конфіденційність.
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Ексклюзивний транспорт, професійні водії та індивідуальний
                підхід – усе це зробить вашу подорож розкішною та бездоганною.
              </p>
            </li>
          </ul>
          <button
            class="button card-button btn-more"
            type="button"
            data-service="vip"
          >
            Більше
          </button>
        </div>
        <img
          class="description-img"
          src="./img/about-img/vip.jpg"
          srcset="./img/about-img/vip.jpg, ./img/about-img/vip@2x.jpg"
          alt="Аеропортний трансфер"
          width="244px"
          height="344px"
        />
      </li>
      <li class="card" data-direction="left">
        <div class="description-box">
          <h2 class="card-title">Тури та екскурсії</h2>
          <div class="section-line"></div>

          <ul class="card-description-list">
            <li class="description-item">
              <p class="description-text">
                🌍 Відкривайте нові місця з комфортом
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Насолоджуйтеся подорожами без зайвих турбот. Ми підберемо для
                вас ідеальний маршрут, врахуємо всі побажання та зробимо вашу
                подорож незабутньою.
              </p>
            </li>
            <li class="description-item">
              <p class="description-text">
                Досвідчені водії, комфортні автомобілі та максимальна гнучкість
                – усе для вашої зручності та насолоди від поїздки.
              </p>
            </li>
          </ul>
          <button
            class="button card-button btn-more"
            type="button"
            data-service="tours"
          >
            Більше
          </button>
        </div>
        <img
          class="description-img"
          src="./img/about-img/turizm.jpg"
          srcset="./img/about-img/turizm.jpg, ./img/about-img/turizm@2x.jpg"
          alt="Аеропортний трансфер"
          width="244px"
          height="344px"
        />
      </li>
    </ul>
  </div>
</section>
