<footer class="footer" id="footer">
  <div class="footer_container container">
    <div class="footer-content">
      <div class="footer_left">
        <div class="footer_logo">
          <a href="#hero">
            <img src="/img/svg/footer-img/footer-logo.png" alt="footer-logo" />
          </a>
        </div>
        <div class="footer_contact">
          <a href="tel:+420774343984" class="footer_phone">
            +420774343984
            <svg class="footer_svg phone-svg" width="24" height="24">
              <use href="/img/svg/footer-img/footer_sprite.svg#phone"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="footer_apps">
        <a href="#" class="footer_app-btn">
          <svg class="app-store-icon" width="36" height="36">
            <use href="/img/svg/footer-img/footer_sprite.svg#apple"></use>
          </svg>
          <div>
            <span class="download-btn-text">завантажити з</span><br />
            <strong class="download-btn-subtitle">App Store</strong>
          </div>
        </a>
        <a href="#" class="footer_app-btn">
          <svg class="app-store-icon google-play" width="32" height="36">
            <use href="/img/svg/footer-img/footer_sprite.svg#google-play"></use>
          </svg>
          <div>
            <span class="download-btn-text">завантажити з</span><br />
            <strong class="download-btn-subtitle">Google Play</strong>
          </div>
        </a>
      </div>

      <div class="footer_nav">
        <a href="#about" class="footer_link">Про нас</a>
        <a href="#contacts" class="footer_link">Резервувати</a>
        <a href="#cars" class="footer_link">Автопарк</a>
        <a href="#footer" class="footer_link">Контакти</a>
      </div>

      <div class="footer_social">
        <h2 class="footer_social-title">Наші соц мережі</h2>
        <div class="footer_social-icons">
          <a href="#" class="footer_social-link">
            <svg class="footer_social-svg" width="19" height="19">
              <use href="/img/svg/footer-img/footer_sprite.svg#instagram"></use>
            </svg>
          </a>
          <a href="#" class="footer_social-link">
            <svg class="footer_social-svg" width="10" height="18">
              <use href="/img/svg/footer-img/footer_sprite.svg#facebook"></use>
            </svg>
          </a>
          <a href="#" class="footer_social-link">
            <svg class="footer_social-svg" width="16" height="15">
              <use href="/img/svg/footer-img/footer_sprite.svg#twitter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer_pp-content">
      <p class="footer_copyright">© Prime-Transfer 2023. Всі права захищені.</p>
      <a href="#" class="footer_privacy-policy">Політика конфіденційності</a>
    </div>
  </div>
</footer>
