<header class="header" id="header">
  <section class="container heder-section">
    <nav class="header-nav">
      <a class="logo-wrapper" href="#hero">
        <svg class="logo-svg">
          <use href="/img/svg/sprite-logo.svg#logo"></use>
        </svg>
      </a>
      <ul class="header-nav-item">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="" data-dev="true">Ціни </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Резервувати</a>
        </li>
      </ul>
    </nav>
    <div class="len-link-wrapper">
      <select class="len-variants link-enter" id="langSelect">
        <option class="len-otion" value="ua">UA 🇺🇦</option>
        <option class="len-otion" value="en">EN 🇬🇧</option>
        <option class="len-otion" value="cz">CZ 🇨🇿</option>
      </select>
      <a class="link-enter" data-dev="true" href="">Увійти</a>
    </div>
  </section>
</header>
