<div class="modal-inner">
  <h2 class="modal-ds-title">Що входить у наш аеропортний трансфер?</h2>
  <div>
    <img class="modal-ds-img" src="" alt="" />
    <ul>
      <li class="modal-ds-item">
        <p class="modal-ds-text">
          Водій зустріне з табличкою біля виходу з терміналу
        </p>
      </li>
      <li class="modal-ds-item">
        <p class="modal-ds-text">Допомога з багажем</p>
      </li>
      <li class="modal-ds-item">
        <p class="modal-ds-text">
          Відстеження рейсу (ми знаємо, якщо рейс затримується)
        </p>
      </li>
      <li class="modal-ds-item">
        <p class="modal-ds-text">Очікування до 60 хв без доплати</p>
      </li>
      <li class="modal-ds-item">
        <p class="modal-ds-text">
          Автомобілі преміум-класу (Wi-Fi, вода, дитяче крісло за запитом)
        </p>
      </li>
      <li class="modal-ds-item">
        <p class="modal-ds-text">
          Доступні напрямки: з/до аеропорту Вацлава Гавела
        </p>
      </li>
      <li class="modal-ds-item">
        <p class="modal-ds-text">Ціни від 50 євро</p>
      </li>
    </ul>
  </div>
  <div class="line"></div>
  <div>
    <h3 class="modal-ds-subtitle">✈️ Аеропортний трансфер</h3>
    <p class="modal-ds-text">
      Наш трансфер до аеропорту — це гарантія спокійного початку або завершення
      вашої подорожі. Ми відстежуємо ваш рейс та забезпечуємо зустріч із
      табличкою в зоні прильоту. Водій допоможе з багажем і доставить вас у
      комфортному автомобілі з Wi-Fi прямо до дверей. Першу годину очікування ми
      не рахуємо, тож вам не доведеться турбуватися у разі затримки рейсу.
    </p>
  </div>

  <button class="button">Замовити трансфер</button>
  <button class="modal-ds-close">
    <svg class="modal-ds-svg" width="" height="">
      <use href=""></use>
    </svg>
  </button>
</div>
