.about {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--accent-color);
}
.container {
}
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card {
  display: inline-flex;
  width: 758px;
  padding: 16px;

  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
  border-radius: 20px;

  opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease-out;
}

/* Початкові позиції */
.card[data-direction='left'] {
  transform: translateX(-100px);
}
.card[data-direction='right'] {
  transform: translateX(100px);
}

/* Коли з’являються */
.card.show {
  opacity: 1;
  transform: translateX(0);
}

.card:nth-child(odd) {
  align-self: flex-start; /* Лівий край */
}

.card:nth-child(even) {
  align-self: flex-end; /* Правий край */
}
.card:hover {
  background-color: var(--secondary-accent-color);
}

.description-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-title {
  color: var(--black);

  /* Subtitle */
  font-family: var(--font-family-Poppins);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 157.143% */
  letter-spacing: 0.28px;
}
.section-line {
  background: var(--Prime-Transfer-accent-color, #ded47b);
  width: 368px;
  height: 1px;
}
.card-description-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.description-item {
}
.description-text {
  color: var(--black);

  /* body-text */
  font-family: var(--font-family-Raleway);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.8px; /* 155% */
}
.card-button {
  width: 138px;
}

.description-img {
  border-radius: 30px;
}
