.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 80px 0;

  background: var(--black);
}
.footer_container {
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_logo {
}
.footer_svg {
}
.footer_contact {
}
.footer_phone {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white);

  /* button-text */
  font-family: var(--font-family-Poppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_phone:hover,
.footer_phone:focus {
  color: var(--accent-color);
}

.footer_phone:hover,
.footer_phone:focus svg {
  stroke: var(--accent-color);
}

.footer_apps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_app-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 8px;

  width: 188px;
  height: 64px;

  border-radius: 4px;
  border: 1px solid var(--accent-color);
  background: var(--white);
}
.app-store-icon {
}
.download-btn-text {
  color: var(--black);

  /* body-text */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.8px; /* 155% */
}
.download-btn-subtitle {
  color: var(--black);

  /* button-text */
  font-family: var(--font-family-Poppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.google-play {
}
.footer_nav {
  display: flex;
  flex-direction: column;

  gap: 28px;
}
.footer_link {
  padding: 0;
}
.footer_social {
}
.footer_social-title {
  margin-bottom: 46px;

  color: var(--white);

  /* button-text */
  font-family: var(--font-family-Poppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer_social-link {
  display: flex;
  width: 32px;
  height: 32px;
  /* padding: 3px 8px; */

  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--secondary-accent-color);

  transition: transform 0.4s ease, color 0.3s ease;
}

.footer_social-link:hover {
  fill: var(--black);
  transform: scale(1.2);
}

.footer_social-link:hover .footer_social-svg {
  stroke: var(--black);
}

.footer_pp-content {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
}
.footer_copyright {
  color: var(--white);

  /* text-description */
  font-family: Raleway;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.28px;

  transition: transform 0.3s ease, color 0.3s ease;
}

.footer_copyright:hover,
.footer_copyright:focus {
  transform: scale(1.1);
  color: var(--accent-color);
}
